%card-font {
    font-family: 'Dancing Script', cursive;
  }

.card{
    @extend %card-font;
    width: 30%;
    border: 1px solid;
    padding: 20px;
}
.principal, .card-title{
    color: $personality;
}
.card-text, h4{
    color: $text-white;
}
